@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}
a {
  text-decoration: none;
  color: black;
}

/* Header */
header {
  height: 100px;
  background-color: black;
  box-shadow: 2px 2px 10px black;
  position: sticky;
  top: 0;
  z-index: 80;
}
header .header-container {
  max-width: 1220px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo-div {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
}
header .top-logo {
  height: 50%;
}
header .header-container .nav-section {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

header .header-container .nav-section .site-nav-btns {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px;
}
header .header-container .nav-section .site-nav-btns .page-link {
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
header .header-container .nav-section .site-nav-btns .captain-america {
  height: 50px;
  object-fit: cover;
}
header .header-container .nav-section .site-nav-btns .comic-cover-nav {
  height: 50px;
  object-fit: cover;
}
header .header-container .nav-section .site-nav-btns .fav-icon-nav {
  height: 30px;
  object-fit: cover;
}
header .header-container .login-signup {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}
header .header-container .login-signup .page-link {
  color: white;
  font-size: 20px;
}
header .header-container .logout-div {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logout-div .account-name {
  color: #ffffff;
  font-size: 20px;
}
header .logout-div .user-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
header .header-container .deconnexion {
  border: none;
  background-color: black;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
/* Composant laoder */
.loader {
  height: calc(100vh - 100px);
  width: 100vw;
  background-color: black;
}
.loader-container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader p {
  color: white;
  font-size: 28px;
  font-weight: 700;
}
.thor {
  height: 300px;
  position: absolute;
  animation: thor 1s ease-in-out;
}
.cap {
  height: 300px;
  position: absolute;

  animation: cap 1s ease-in-out;
}
.iron-man {
  height: 300px;
  position: absolute;
  animation: iron-man 1s ease-in-out;
}
@keyframes thor {
  0% {
    bottom: 50px;
    left: 0px;
  }
  100% {
    bottom: 250px;
    left: 500px;
  }
}
@keyframes cap {
  0% {
    top: 150px;
    right: 0px;
  }
  100% {
    top: 150px;
    right: 500px;
  }
}
@keyframes iron-man {
  0% {
    top: 0px;
    left: 100px;
  }
  100% {
    top: 80px;
    left: 700px;
  }
}

/* Composant toolbar */
.search-bar-n-pagination {
  margin: 10px auto;
  max-width: 1220px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-bar-n-pagination .autocomplete-toolbar {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.search-bar-n-pagination .autocomplete-toolbar .search-bar {
  width: 100%;
  height: 70%;
  padding: 20px 0 20px 40px;
  box-sizing: border-box;
}
.search-bar-n-pagination .autocomplete-toolbar .autocomplete-suggestions {
  z-index: 2;
  cursor: pointer;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgb(143, 143, 143);
  padding: 15px 15px 15px 40px;
  display: flex;
  flex-direction: column;
}
.search-bar-n-pagination .autocomplete-toolbar .autocomplete-suggestions div {
  line-height: 28px;
}
.search-bar-n-pagination
  .autocomplete-toolbar
  .autocomplete-suggestions
  div:hover {
  background-color: lightgray;
}
.search-bar-n-pagination .items-per-page {
  width: 25%;
  padding: 0 15px;
  display: flex;
  gap: 15px;
  box-sizing: border-box;
}
.search-bar-n-pagination .page-nav {
  width: 25%;
  display: flex;
  gap: 25px;
  box-sizing: border-box;
}
.search-bar-n-pagination .disabled {
  background-color: rgb(242, 242, 242);
  border: none;
}
.search-bar-n-pagination .disabled:active {
  background-color: rgb(242, 242, 242);
}

/* Pages personnages */
.card-container {
  max-width: 1220px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 10px;
}
.fav-relative {
  background-color: white;
  box-shadow: 5px 5px 10px grey;
  margin-top: 25px;
  padding: 20px;
  box-sizing: border-box;
  height: 420px;
  width: calc(100% / 4 - 30px / 4);
  display: flex;
  position: relative;
}
.character-card {
  background-color: white;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
/* .character-card:hover {
  transform: scale(1.5);
  z-index: 1;
}
.character-card:hover .char-desc {
  font-size: 11.5px;
  transform: scale(1);
} */
.fav-btn {
  position: absolute;
  top: 264px;
  left: 30px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  filter: drop-shadow(1px 1px 2px black);
  display: flex;
  align-items: center;
  justify-content: center;
}
.fav {
  font-size: 24px;
  color: red;
}
.add {
  font-size: 24px;
  color: red;
}

.fav-relative:active {
  box-shadow: 1px 1px 1px black;
  transform: translateY(5px);
  transition: 0.2s;
}
.character-card .profile-pic-container {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px 0;
  box-sizing: border-box;
}
.character-card .profile-pic-container .profile-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.character-card .char-name {
  font-size: 18px;
  font-weight: 700;
  height: 10%;
}
.character-card .char-desc {
  width: 100%;
  height: 20%;
  overflow: hidden;
}
.character-card .desc-filler {
  height: 20%;
}

/* Page d'un personnage */

.single-char-container {
  margin: 0 auto;
  max-width: 1220px;
  padding-top: 50px;
  display: flex;
}
.single-char-info {
  display: flex;
  flex-direction: column;
  border-right: 3px solid black;
  width: 25%;
  padding: 0 15px 0 0;
}
.single-char-name {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
}
.character-profile-pic {
  width: 200px;
  margin-bottom: 30px;
}
.single-char-desc {
  font-size: 20px;
  text-align: justify;
}
.appearing-comics {
  width: 75%;
  padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.appearing-comic {
  width: calc(100% / 3 - 30px / 3);
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.appears-in-title {
  font-size: 24px;
  font-weight: 700;
  height: 20%;
}
.char-appears-in-cover {
  width: 100%;
}
/* Comics page */
.fav-relative-comics {
  position: relative;
  background-color: white;
  box-shadow: 5px 5px 10px grey;
  margin-top: 25px;
  padding: 20px;
  box-sizing: border-box;
  height: 420px;
  width: calc(100% / 4 - 30px / 4);
  display: flex;
  flex-direction: column;
}
.comic-card {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.fav-comic-btn {
  position: absolute;
  top: 264px;
  left: 30px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  filter: drop-shadow(1px 1px 2px black);
  display: flex;
  align-items: center;
  justify-content: center;
}
.fav-relative-comics:active {
  box-shadow: 1px 1px 1px black;
  transform: translateY(5px);
  transition: 0.2s;
}
.comic-card .comic-cover {
  height: 70%;
  width: 100%;
  object-fit: contain;
  margin: 10px 0;
}
.comic-card .comic-title {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
}
.comic-card .comic-desc {
  width: 100%;
  height: 15%;
  overflow: hidden;
}

/* Page de présentation d'un seul comic */
.single-comic-container {
  display: flex;
  max-width: 1220px;
  margin: 0 auto;
  padding-top: 50px;
}
.single-comic-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 50px;
}
.single-comic-desc {
  font-size: 24px;
  margin-right: 50px;
  text-align: justify;
}

/* Favorites */
.favorites-all {
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
  max-width: 1220px;
  margin: 0 auto;
  padding-top: 50px;
}
.favorites-all img {
  height: 150px;
  margin-bottom: 30px;
}
.favorites-title {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 40px;
}
.favorite-title {
  font-size: 20px;
  margin-bottom: 10px;
}
/* Signup page */
.signup-form {
  display: flex;
  gap: 50px;
  margin-top: 30px;
  height: 100%;
}
.i-want-you {
  height: 100%;
}
.signup-form .signup-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.signup-form .signup-info input {
  height: 30px;
}
.signup-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
.signup-form .signup-info .signup-btn {
  border: none;
  background-color: none;
  background: none;
  color: white;
  background-color: black;
  border-radius: 5px;
  height: 35px;
  font-size: 20px;
  padding: 5px;
}

/* Login page */
.login-form {
  display: flex;
  gap: 50px;
  margin-top: 30px;
  height: 100%;
  justify-content: center;
}
.login-form .login-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.login-form .login-info input {
  height: 30px;
  width: 300px;
  box-sizing: border-box;
}
.login-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.login-form .login-info .login-btn {
  border: none;
  background-color: none;
  background: none;
  color: white;
  background-color: black;
  border-radius: 5px;
  height: 35px;
  width: 300px;
  font-size: 20px;
  padding: 5px;
}
